.title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.pageNotFound {
min-height: 100vh;
}

.text {
  text-align: center;
  font-size: 1.5em;
}

.link {
  color:rgb(216, 16, 16);
  text-decoration: underline rgb(50, 20, 186) 3px;
  font-weight: bold;
}
